.footer__copyright {
  color: #fff;
  margin: 92px 0 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 114%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .footer__copyright{
    line-height: 100%;
    margin: 90px 0 0 0;
  }
}

@media screen and (max-width: 710px) {
  .footer__copyright{
    text-align: left;
    margin: 48px 0 0 0;
  }
}
