.cover__title {
  max-width: 560px;
  width: 100%;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  text-align: center;
  z-index: 4;
}

@media screen and (max-width: 509px) {
  .cover__title {
    max-width: 320px;
    font-size: 42px;
    line-height: 106%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 109%;
  }
}
